<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Details</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h1>Order Details</h1>
<div>
    <h2>Customer Information</h2>
    <p>Username: <span th:text="${customer.username}"></span></p>
</div>
<div>
    <h2>Order Information</h2>
    <p>Order ID: <span th:text="${order.orderId}"></span></p>
    <p>Order Date: <span th:text="${order.orderPlacementDate}"></span></p>
    <p>Order Status: <span th:text="${order.orderState}"></span></p>
</div>
<div>
    <h2>Ordered Products</h2>
    <table>
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${orderedProducts}">
            <td th:text="${product.product.productName}"></td>
            <td th:text="${product.product.description}"></td>
            <td th:text="${product.product.price}"></td>
            <td th:text="${product.quantity}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <button onclick="window.location.href='/products'">Back to Main Page</button>
</div>
</body>
</html>